.wrapper {
  background-color: var(--areaBackgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: 1rem; 
  width: 100%;
  height: auto;
}

.contacts-form {
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 3rem;
  max-width: 30rem;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 4px 0 1.25rem 0 var(--box-shadow-color);
}

.contacts-form h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--secondary-color);
}

.form-field {
  margin-bottom: 2rem;
  width: 100%;
}

.submit-button {
  width: 100%;
}

.confirmation-message {
  color: green;
  font-size: 1.2rem;
  margin-top: 20px;
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.feedback-list-card{
  height: auto;
}

.feedback-layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.feedback-list {
flex: 1;
overflow-y: auto;
padding-right: 1rem;
display: flex;
flex-direction: column;
}

.eachItem {
  padding: 0.5rem;
  margin: 1rem;
  background-color: var(--areaBackgroundColor);
}

.left-panel {
  flex: 1;
  min-width: 50vw;
  max-width: 50vw;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.right-panel {
  flex: 2;
  min-width: 350px;
}
.listTitel{
  text-align: center;
  align-items: center;
}