@use '@angular/material' as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat.core();

$my-theme: mat.define-theme((
    color: (
        primary: mat.$orange-palette
    )
));

:root {
    --primary-background-color: white;
    --button-background-color: #729fcf;
    --box-shadow-color: #8690a3;
    --main-color: #3A7D78;
    --sub-color: #e6f0ef;
    --grey-color: #444;
    --darker-grey-color: #2f2f2f;
    --hover-grey-color: #f3f3f3;
    --green-color: #32ff7f;
    --red-color: #ff4317;


    --kopfHintergrund: linear-gradient(to right, #f0a980, rgb(200, 255, 250));
    --contrastColor: rgb(152, 33, 33);
    --areaBackgroundColor: rgba(255, 220, 160, 0.674);
    --backgroundColor: rgb(255, 220, 160);
    --outerMargin: 10%;
    --defaultBoxShadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    --dashboardImage: url('/images/background_startseite.png'):

    @include mat.all-component-themes($my-theme);
}

body{
    margin: 0;
    font-family: roboto, 'Helvetica Neue', sans-serif;
    height: 100%;
}

h1 {
    font-weight: 300;
    font-size: x-large;
}

.container {
    height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card{
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: var(--defaultBoxShadow);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}