<footer class="footer">
    <div class="footer-top">
      <div class="footer-logo-address">
        <a routerLink="/">
          <img src="/images/stadt_herne_logo_footer.svg" alt="Logo Stadt Herne" />
        </a>
        <div>
          <p>Friedrich-Ebert-Platz 2<br />44623 Herne</p>
          <p>Telefon: 0 23 23 / 16 - 0<br />Telefax: 0 23 23 / 16 - 21 00</p>
          <p>
            E-Mail: <a href="mailto:info@herne.de">info&#64;herne.de</a><br />
            Internet: <a href="https://www.herne.de" target="_blank">www.herne.de</a><br />
            App: <a href="https://www.herne.de/Stadt-und-Leben/Stadtfakten/Stadt-Herne-App/" target="_blank">Stadt-Herne-App</a>
          </p>
        </div>
      </div>
  
      <div class="footer-links">
        <ul>
          <li><a href="https://www.herne.de/Homepage.html">Stadt Herne</a></li>
          <li><a href="https://pages.veranstaltungen-herne.de" target="_blank">Veranstaltungskalender</a></li>
          <li><a href="https://www.herne.de/Rathaus/Buergerservice/">Bürgerservice</a></li>
          <li><a href="http://www.inherne.net" target="_blank">Stadtmagazin</a></li>
          <li><a href="https://www.herne.de/Technische-Seiten/Social-Media/">Soziale Medien</a></li>
          <li><a href="https://www.herne.de/Technische-Seiten/Tochtergesellschaften/">Tochtergesellschaften</a></li>
        </ul>
      </div>
  
      <div class="footer-links">
        <ul>
          <li><a href="/Technische-Seiten/Impressum/">Impressum</a></li>
          <li><a href="/Technische-Seiten/Barrierefreiheitserklaerung/">Barrierefreiheitserklärung</a></li>
          <li><a href="/Technische-Seiten/Datenschutzerklaerung/">Datenschutzerklärung</a></li>
          <li><a href="/Technische-Seiten/Kontakt/">Kontakt</a></li>
          <li><a href="/Rathaus/Buergerservice/Presse/">Presse</a></li>
          <li><a href="https://geoportal.herne.de/basis/" target="_blank">Stadtplan</a></li>
          <li><a href="/Rathaus/Stellen-und-Ausbildung/">Stellenangebote</a></li>
          <li><a href="https://www.herne.de/newsletter/anmeldung.php" target="_blank">Newsletter</a></li>
        </ul>
      </div>
  
      <div class="footer-icons">
        <a href="http://facebook.com/pages/Stadt-Herne/119593054779168" target="_blank"><img src="assets/images/icon_facebook.png" alt="Facebook" /></a>
        <a href="https://www.linkedin.com/company/stadt-herne/" target="_blank"><img src="assets/images/LinkedIn_icon.png" alt="LinkedIn" /></a>
        <a href="https://www.instagram.com/stadt_herne/" target="_blank"><img src="assets/images/instagramm_icon.png" alt="Instagram" /></a>
        <a href="http://www.europa.eu/index_de.htm" target="_blank"><img src="assets/images/icon_europaeische.png" alt="EU" /></a>
        <a href="https://www.total-e-quality.de/" target="_blank"><img src="assets/images/icon_teq.png" alt="Total E-Quality" /></a>
        <a href="http://www.cranger-kirmes.de/" target="_blank"><img src="assets/images/icon_cranger_kirmes.png" alt="Cranger Kirmes" /></a>
        <a href="http://www.fairtradestadt-herne.de/" target="_blank"><img src="assets/images/icon_fairtrade.png" alt="Fairtrade" /></a>
        <a href="https://www.herne.de/Wirtschaft-und-Infrastruktur/Bauen-und-Wohnen/Bauen/Geoportal/" target="_blank"><img src="assets/images/globus_icon.png" alt="Geoportal" /></a>
        <a href="http://www.inherne.net/" target="_blank"><img src="assets/images/logo_inherne.jpg" alt="inHerne" /></a>
      </div>
    </div>
  
    <div class="footer-bottom">
        <div class="footer-bottom-center">
          © Stadt Herne 2025
        </div>
        <div class="footer-bottom-end">
          <a href="#top" title="Zum Seitenanfang">
            <mat-icon>arrow_upward</mat-icon>
          </a>
        </div>
      </div>
  </footer>
  