<div class="wrapper">
  <mat-card class="card">
    <mat-card-header class="cardHeader">
      <img mat-card-image class="cardImage" [src]="'assets/images/eventImages/' + data.uuid + '.png'" alt="{{ data.title }}" />
        <div class="cardHeaderContent">
            <mat-divider class="cardDivider"></mat-divider>
            <p class="cardTitel">{{ data.title }}</p>
            <mat-divider class="cardDivider"></mat-divider>
        </div>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <p>{{ data.description }}</p>
    </mat-card-content>
    <mat-divider class="cardDivider"></mat-divider>
    <mat-card-footer class="cardFooter" >
      <div class="cardDetails">
        <mat-icon>place</mat-icon>
        <p>{{ data.address }}</p>
      </div>
      <div class="cardDetails">
        <mat-icon>access_time</mat-icon>
        <p>{{ data.date }}<br />{{ data.time }}</p>
      </div>
      <div class="cardDetails">
        <mat-icon>cake</mat-icon>
        <p>{{ data.age }}</p>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
