.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20%;
    box-sizing: border-box;
    background-color: var(--areaBackgroundColor);
  }
.header{
    display: flex;
    flex-direction: column;
}
  mat-card {
    width: 100%;
    height: auto;
  }
  
  .full-width {
    width: 100%;
    margin-top: 1rem;
  }
  
  /* Responsive */
  @media (max-width: 420px) {
    mat-card {
      margin: 0 1rem;
    }
  }
  