<div class="login-wrapper">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="login()">
        <mat-form-field class="full-width">
          <mat-label>Benutzername</mat-label>
          <input
            matInput
            [(ngModel)]="username"
            name="username"
            required
            autocomplete="username"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Passwort</mat-label>
          <input
            matInput
            [(ngModel)]="password"
            name="password"
            required
            type="password"
            autocomplete="current-password"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Anmelden
        </button>

        <div *ngIf="errorMsg" class="error-msg">
          {{ errorMsg }}
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
